{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Club Selection</h1>
      <table class="table table-striped table-hover">
      {% for c in clubs %}
        <tr>
          <td>{{ c.club_name }}</td>
          <td>
            <form action = "{% url 'group_check' user.id %}" method = "post">
              {% csrf_token %}
              <input type="hidden" name="club_name" value="{{ c.club_name }}">
              <input type = "hidden" name = "next" value = "{{ next }}">
              {% include 'partials/bootstrap_form.html' with form=form %}
              <input type = "submit" value = "Enter club" class="btn btn-primary">
            </form>
          </td>
        </tr>
      {% endfor %}
        <tr>
          <form action = "{% url 'create_new_club' %}" method = "post">
            {% csrf_token %}
            <input type = "hidden" name = "next" value = "{{ next }}">
            {% include 'partials/bootstrap_form.html' with form=form %}
            <input type = "submit" value = "Create new club" class="btn btn-primary">
          </form>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
