{%extends 'base_content.html'%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Members</h1>
      <table class="table">
        {% for user in users %}
        <tr>
          <td>
            <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.first_name }}" class="rounded-circle" >
          </td>
          <td>{{ user.full_name }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.experience_level }}</td>

            <td> <input type = "submit" value = "Promote to member" class = "btn btn-primary" name="promote"></td>

          <form action="{% url 'officer_main' user.id %}" method = "post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <td> <input type = "submit" value = "Accept" class = "btn btn-success" name="accept"></td>
          </form>
          <td> <input type = "submit" value = "Reject" class = "btn btn-danger" name="reject"></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
