<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="club--dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        CLUBS
      </a>
      <div class="dropdown-menu dropdown-menu" aria-labelledby="club-dropdown">
        <a class="dropdown-item" href="{% url 'club_selection' %}">Club Selection</a>
        <a class="dropdown-item" href="{% url 'create_new_club' %}">Create a club</a>
      </div>
  </ul>
</div>
