
<form action="{% url 'club_dropdown' %}" method="get">
  </ul>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="club--dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi-arrow-down-circle-fill"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="club-dropdown">
        {% for club in clubs %}
        <li><a href="#">{{club.club_name}}</a></li>
        {%endfor%}
      </ul>
    </li>
  </ul>
</div>
